<div class="component">
	<!-- Experience/Skills -->
	<div class="cat page-center">
		<h1 class="cat-title">Experience</h1>

		<ul class="tiles page-center">
			<li class="info-tile button">
				<img class="info-logo" src="./static/image/skills/visual.png" alt="Microsoft Visual C sharp logo" />
				<h2 class="info-title">Visual C#</h2>
				<span class="info-additional">3 years</span>
			</li>
			<li class="info-tile button">
				<img class="info-logo" src="./static/image/skills/lua.png" alt="Lua logo" />
				<h2 class="info-title">Lua</h2>
				<span class="info-additional">3 years</span>
			</li>
			<li class="info-tile button">
				<img class="info-logo" src="./static/image/skills/pdn.png" alt="Paint dot NET logo" />
				<h2 class="info-title">Paint.NET</h2>
				<span class="info-additional">2 years</span>
			</li>
			<li class="info-tile button">
				<img class="info-logo" src="./static/image/skills/html5.png" alt="HTML5 badge logo" />
				<h2 class="info-title">HTML5</h2>
				<span class="info-additional">2 years</span>
			</li>
			<li class="info-tile button">
				<img class="info-logo" src="./static/image/skills/javascript.png" alt="Unofficial JavaScript logo" />
				<h2 class="info-title">JavaScript</h2>
				<span class="info-additional">1 year</span>
			</li>
			<li class="info-tile button">
				<img class="info-logo" src="./static/image/skills/python.png" alt="Python logo" />
				<h2 class="info-title">Python 3</h2>
				<span class="info-additional">1 year</span>
			</li>
		</ul>
	</div>

	<!-- Languages -->
	<div class="cat page-center">
		<h1 class="cat-title">Languages</h1>

		<ul class="tiles fill-h">
			<li class="info-tile button">
				<img class="info-logo" src="./static/image/flags/nl.png" alt="Flag of The Netherlands" />
				<h2 class="info-title">Dutch</h2>
				<span class="info-additional">Native</span>
			</li>
			<li class="info-tile button">
				<img class="info-logo" src="./static/image/flags/uk.png" alt="Flag of Great Britain" />
				<h2 class="info-title">English</h2>
				<span class="info-additional">Fluent, C2</span>
			</li>
			<li class="info-tile button">
				<img class="info-logo" src="./static/image/flags/fr.png" alt="Flag of France" />
				<h2 class="info-title">French</h2>
				<span class="info-additional">Limited, B2</span>
			</li>
			<li class="info-tile button">
				<img class="info-logo" src="./static/image/flags/de.png" alt="Flag of France" />
				<h2 class="info-title">German</h2>
				<span class="info-additional">Beginner, A2</span>
			</li>
		</ul>
	</div>
</div>