<div class="component">
	<!-- Social Media -->
	<div class="cat page-center">
		<h1 class="cat-title">Social Media</h1>

		<nav class="tiles page-center">
			<a class="info-tile button" href="https://steamcommunity.com/id/ThatOneCheetah/" rel="external">
				<img class="info-logo" src="./static/image/contact/steam.png" alt="Steam logo" />
				<h2 class="info-title">Steam</h2>
				<span class="info-additional">Arena</span>
			</a>
			
			<a class="info-tile button" href="https://discord.gg/" rel="external">
				<img class="info-logo" src="./static/image/contact/discord.png" alt="Discord logo" />
				<h2 class="info-title">Discord</h2>
				<span class="info-additional">Arena#4927</span>
			</a>

			<a class="info-tile button" href="https://snapchat.com/" rel="external">
				<img class="info-logo" src="./static/image/contact/snapchat.png" alt="Snapchat logo" />
				<h2 class="info-title">Snapchat</h2>
				<span class="info-additional">vadim.inator</span>
			</a>
		</nav>
	</div>

	<!-- Social Media -->
	<div class="cat page-center">
		<h1 class="cat-title">Other</h1>

		<nav class="tiles page-center">
			<a class="info-tile button" href="mailto:jmwparq@gmail.com">
				<img class="info-logo" src="./static/image/contact/gmail.png" alt="Google Mail logo" />
				<h2 class="info-title">Gmail</h2>
				<span class="info-additional">jmwparq</span>
			</a>

			<a class="info-tile button" href="https://github.com/ThatOneCheetah/">
				<img class="info-logo" src="./static/image/contact/github.png" alt="Github logo" />
				<h2 class="info-title">GitHub</h2>
				<span class="info-additional small">ThatOneCheetah</span>
			</a>
		</nav>
	</div>
</div>