<div class="component">
	<article id="introduction">
		<center><img class="avatar" type="image/webp" src="./static/image/avatar.webp" alt="Avatar" /></center>

		<h1 class="hello-world fill-h">Hello.</h1>

		<p class="hello-world page-center">
			My name is <strong>Yoerie Wolvekamp</strong>,
		</p>

		<p class="hello-world page-center">
			I create websites, software, games and game modifications.
			Furthermore, I enjoy packing as many bits as efficiently as possible, and going to the extreme to optimise my product without compromises.
		</p>
		
		<p class="hello-world page-center">
			If you would like to know more about me, please consider having a look at the <a href="#about">about page.</a>
			If you would like to know more about what it is I do, take a look at the <a href="#projects">projects page</a> instead.
		</p>
	</article>
</div>