<div class="component">
	<div class="cat info-card page-center">
		<h2 class="info-title">Starfall MIDI Player</h2>
		<div class="info-video">
			<iframe class="info-video" src="https://www.youtube-nocookie.com/embed/EKENDM8kyYI?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen="1"></iframe>
		</div>
		<span class="info-additional">A MIDI parser and player written in <a class="info-link" href="https://github.com/thegrb93/StarfallEx" rel="external">Starfall</a> Lua within <a class="info-link" href="https://gmod.facepunch.com/" rel="external">Garry's Mod</a></span>
	</div>

	<div class="cat info-card page-center">
		<h2 class="info-title">Saga Launcher X</h2>
		<div class="info-video">
			<iframe class="info-video" src="https://www.youtube-nocookie.com/embed/R5PTLZ3GgnQ?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen="1"></iframe>
		</div>
		<span class="info-additional">Software for launching and indexing games across network shares</span>
	</div>

	<div class="cat info-card page-center">
		<h2 class="info-title">REZA</h2>
		<div class="info-video">
			<iframe class="info-video" src="https://www.youtube-nocookie.com/embed/HCHT--wj_mQ?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen="1"></iframe>
		</div>
		<span class="info-additional">2D Game concept written in C#/<a class="info-link" href="https://github.com/opentk/opentk" rel="external">OpenTK</a></span>
	</div>

	<div class="cat info-card page-center">
		<h2 class="info-title">Borderlesser</h2>
		<span class="info-additional">Tool for undecorating windows ( Windows x64, <a class="info-link" href="./static/content/borderlesser.zip" rel="external">Download</a> )</span>
	</div>
</div>
